Repository openstack/python-ironic-inspector-client: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Updated from global requirements
  test-requirements.txt
Due: openstack-tox-functional

Update bug tracker URL
  README.rst
Due: none

Gate fix: Cap hacking to avoid gate failure
  functest-requirements.txt
  test-requirements.txt
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Trivial: Update pypi url to new url
  README.rst
Due: none

add lower-constraints job
  lower-constraints.txt
  tox.ini
  zuul.d/project.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

fix tox python3 overrides
  tox.ini
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Follow the new PTI for document build
  doc/requirements.txt
  doc/source/conf.py
  doc/source/reference/index.rst
  ironic_inspector_client/__init__.py
  ironic_inspector_client/v1.py
  setup.cfg
  test-requirements.txt
  tox.ini
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Support passing manage_boot argument in Python API
  ironic_inspector_client/test/test_v1.py
  ironic_inspector_client/v1.py
  releasenotes/notes/manage-boot-3d77762952b354a1.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Add release note link in README
  README.rst
Due: none

Provide proper error message if interface name is invalid
  ironic_inspector_client/test/test_v1.py
  ironic_inspector_client/v1.py
  releasenotes/notes/change-error-msg-invalid-interface-4b6b70b92c27d6f6.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Update the home-page link
  setup.cfg
Due: openstack-tox-functional

Fix errors in package metadata
  setup.cfg
Due: openstack-tox-functional

Fix setup.cfg for release
  setup.cfg
Due: openstack-tox-functional

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

CI: stop trying to pull the tempest plugin from ironic-inspector
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Update .gitreview for stable/rocky
  .gitreview
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

import zuul job settings from project-config
  zuul.d/project.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

switch documentation job to new PTI
  zuul.d/project.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

add python 3.6 unit test job
  zuul.d/project.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Two changes to fix the stable/pike CI
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
  tools/tox_install.sh
  tox.ini
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Two changes to fix the stable/ocata CI
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
  tools/tox_install.sh
  tox.ini
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Support loading introspection rules from YAML files
  ironic_inspector_client/shell.py
  ironic_inspector_client/test/test_shell.py
  releasenotes/notes/rules-import-yaml-815ebc6ca6fe28b9.yaml
  requirements.txt
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Change basepython to python3
  ironic_inspector_client/test/functional.py
  tox.ini
  zuul.d/project.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Update min tox version to 2.0
  tox.ini
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Add check-errors flag to Introspection
  doc/source/cli/index.rst
  ironic_inspector_client/shell.py
  ironic_inspector_client/test/test_shell.py
  releasenotes/notes/introspection-check-errors-587ebb2c00038b5a.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Follow-up check-errors flag
  doc/source/cli/index.rst
  ironic_inspector_client/shell.py
  releasenotes/notes/introspection-check-errors-587ebb2c00038b5a.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Change openstack-dev to openstack-discuss
  setup.cfg
Due: openstack-tox-functional

Update tox.ini to support Python 3.x unit tests
  tox.ini
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Zuul migration
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/post.yaml
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
  zuul.d/legacy-python-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
  zuul.d/python-ironic-inspector-client-jobs.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Remove dsvm from zuulv3 job names
  zuul.d/project.yaml
  zuul.d/python-ironic-inspector-client-jobs.yaml
Due: openstack-tox-functional, python-ironic-inspector-client-tempest-dsvm

Path conditions:
  openstack-tox-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  python-ironic-inspector-client-tempest-dsvm: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$
