Repository openstack/python-ironic-inspector-client: changes, and which Zuul jobs are due for each by the changed paths.
All: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

zuul.d/project.yaml:

- project:
    name: openstack/python-ironic-inspector-client
    check:
      jobs:
        - python-ironic-inspector-client-tox-func:
            irrelevant-files:
              - ^.*\.rst$
              - ^doc/.*$
              - ^releasenotes/.*$
        - python-ironic-inspector-client-tempest-dsvm:
            irrelevant-files:
              - ^(test-|)requirements.txt$
              - ^.*\.rst$
              - ^doc/.*$
              - ^releasenotes/.*$
              - ^setup.cfg$
    gate:
      jobs:
        - python-ironic-inspector-client-tox-func:
            irrelevant-files:
              - ^.*\.rst$
              - ^doc/.*$
              - ^releasenotes/.*$
        - python-ironic-inspector-client-tempest-dsvm:
            irrelevant-files:
              - ^(test-|)requirements.txt$
              - ^.*\.rst$
              - ^doc/.*$
              - ^releasenotes/.*$
              - ^setup.cfg$

Move legacy python-ironic-inspector-client jobs
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/post.yaml
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
  playbooks/legacy/python-ironic-inspector-client-tox-func/post.yaml
  playbooks/legacy/python-ironic-inspector-client-tox-func/run.yaml
  zuul.d/legacy-python-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Use functional tox environment
  playbooks/legacy/python-ironic-inspector-client-tox-func/post.yaml
  playbooks/legacy/python-ironic-inspector-client-tox-func/run.yaml
  releasenotes/notes/rename-func-427aa11c60c2838b.yaml
  tox.ini
  zuul.d/legacy-python-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Use functional tox environment
  playbooks/legacy/python-ironic-inspector-client-tox-func/post.yaml
  playbooks/legacy/python-ironic-inspector-client-tox-func/run.yaml
  tox.ini
  zuul.d/legacy-python-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Using --option ARGUMENT
  doc/source/cli/index.rst
Due: none

Updated from global requirements
  requirements.txt
Due: python-ironic-inspector-client-tox-func

Centralize list of irrelevant files
  zuul.d/legacy-python-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Remove setting of version/release from releasenotes
  releasenotes/source/conf.py
Due: none

Add missing python-openstackclient to test-requirements
  test-requirements.txt
Due: python-ironic-inspector-client-tox-func

Remove support for passing auth_token to ClientV1
  ironic_inspector_client/common/http.py
  ironic_inspector_client/test/functional.py
  ironic_inspector_client/test/test_common_http.py
  ironic_inspector_client/test/test_v1.py
  releasenotes/notes/no-auth-token-c486915a6168d4a3.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Drop default URI, make either a session or inspector_url required
  ironic_inspector_client/__init__.py
  ironic_inspector_client/common/http.py
  ironic_inspector_client/test/functional.py
  ironic_inspector_client/test/test_common_http.py
  ironic_inspector_client/test/test_init.py
  ironic_inspector_client/test/test_v1.py
  releasenotes/notes/no-default-uri-861f675ccb75e05d.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Documentation clean up
  ironic_inspector_client/common/http.py
  ironic_inspector_client/resource.py
  ironic_inspector_client/v1.py
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Add missing test on session + explicit URL
  ironic_inspector_client/test/test_common_http.py
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Avoid tox_install.sh for constraints support
  tools/tox_install.sh
  tox.ini
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Use the tempest plugin from openstack/ironic-tempest-plugin
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
  zuul.d/legacy-python-ironic-inspector-jobs.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Updated from global requirements
  test-requirements.txt
Due: python-ironic-inspector-client-tox-func

Update .gitreview for stable/queens
  .gitreview
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Update UPPER_CONSTRAINTS_FILE for stable/queens
  tox.ini
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Update reno for stable/queens
  releasenotes/source/index.rst
  releasenotes/source/queens.rst
Due: none

Zuul: Remove project name
  zuul.d/project.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Clean imports in code
  ironic_inspector_client/test/test_shell.py
  ironic_inspector_client/test/test_v1.py
  ironic_inspector_client/v1.py
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Add the api help information
  ironic_inspector_client/v1.py
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Update links in README
  README.rst
Due: none

Use the regular inspector tests in the CI
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm

Switch the CI to hardware types and clean up playbook
  playbooks/legacy/python-ironic-inspector-client-tempest-dsvm/run.yaml
Due: python-ironic-inspector-client-tox-func, python-ironic-inspector-client-tempest-dsvm
